/* CSS for My portfolio */

* {
    box-sizing: border-box;

  }
  body {
  height: 1024px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  }

 .logo {
  background: #ffffff;
  padding: 20px;
  clear: both;
  width: 100%;
  height: 70px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  position: fixed;
  top: 0;
 
}
h1 {
    padding: 20px;
    background-color: #4aaaa5;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 70px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.links {
  list-style: none;
  font-size: 20px;
  float: right;
  color: grey;
  
}

.linkfld {
  color: #777777;
}
ul {
  list-style: none;
  font-size: 10px;

}
a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
  margin-right: 32px;
  text-align: center;

}
.content, .contact, .portfolio {
  background: #ffffff;
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("../images/herringbone.png");
}
.content-mat {
  min-height: 50%;
  margin-bottom: -120px;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 20px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;

}
.content-mat img {
  width: 300px;
  height: 300px;
  padding: 20px;
  float: left;
}

.content::after, .contact::after, .portfolio::after {
  content: "";
  display: block;
}
h2 {
  color: #4aaaa5;
}

p {
  float: inline-start;
  color: #777777;
  padding: 20px;
}

footer, .content::after, .contact::after, .portfolio::after {
  height: 120px;
  background: #666666;
  padding: 20px;
  width: 100%;
  height: 5px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #dddddd;
  font-size: 7px;
  
}

.green-footer {
  border-top: 8px solid #4aaaa5;
  width: 100%;
  bottom: 0;
  padding: 20px;
  position: fixed;


}
.contact-mat {
  min-height: 50%;
  margin-bottom: -120px;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 25px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
}

fieldset {
  padding: 0;
  border: 0;
}
input {
  width: 100%;
  border-width: 2px;
  border-radius: 1px;
  margin: 8px 0;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
 
}
textarea {
  width: 100%;
 
}
.input-text {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.btn {
  display: inline-block;
  margin: 0;
  height: 50px;
  width: 100px;
  background: #4aaaa5;
  color: #ffffff;
  font-size: 24px;

}

.portfolio-mat {
  min-height: 75%;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 20px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
 
}
.portfolio-mat img {
  width: 200px;
  height: 200px;

}

.wrapper{
  float: left;
  margin-right: 15px;

}
.img-msg {
  position: relative;
  bottom: 50px;
  left: 0;
  width: 200px;
  height: 35px;
  background: #4aaaa5;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  font-size: 20px;

}
/************************************************************/
/* * * *    99999999999 888888888888 000000000000     * * * */
/************************************************************/
@media screen and (max-width: 980px) {
  body {
    background-color: #333;
  }

  .logo {

    width: 100%;
    padding: 20px;

  }

  h1 {
    padding: 20px;
    width: 50px; 
    background-color: #4aaaa5;
    float: left; 
    margin: 0;
    /* margin-top: 0px; */
    height: 70px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;

}
/* 
  .namefld {
    width: 100%;
  } */
  .links {
    width: 50%;
    margin-top: 40px;
    /* background-color: green; */
    float: right; 
    position: fixed;
    top: 0;
    right: 0;
  }

/************************************************************/
/* * * *    77777777777 66666666666  88888888888      * * * */
/************************************************************/

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .logo {

    width: 100%px;

  }

  h1 {
    width: 50%; 
    background-color: #4aaaa5;
    margin-left: 30px;

}
  .links {
    margin-top: 40px;
    width: 50%;     
    float: right;
    position: fixed;
    top: 0;
    right: -20px;
    text-align: center;
    margin-right: 0;
    line-height: 100%;

  }
  .content-mat {
    width: 93%;
    margin-left: 30px;
    margin-right: 25px;
  }

  .content-mat img {
    width: 100%;
    max-width: 400px;
    height: 400px;

  }
  
/* Width at 640px and below */
/************************************************************/
/* * * *    666666666666 44444444444 000000000000     * * * */
/************************************************************/

@media screen and (max-width: 640px) {
}
  body {
    background-color: #333;
  }

  .logo {

    width: 0%;
    padding: 0;
    /* padding: 20px; */

  }

  h1 {
    padding: 20px;
    width: 100%;
    background-color: #4aaaa5;
    margin: 0 auto;

    margin-bottom: 15px;
    margin-top: 0px; 
    height: 70px;
    text-align: center;
    color: #ffffff;
  }
    
 .links {
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    height: 50px;
    background-color: azure;
    text-align: center;
    border: #777777;
    border: 10px;
    
  }
  .content-mat {
    width: 90%;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 130px;
  
  }
  .content-mat img {
    width: 100%;
    max-width: 620px;
    height: 400px;

  }